if (success && success.length)
    div(role="alert").alert.alert-success.alert-dismissible.fade.show.my-4
        h5 Success!
        p #{success}
        button(type="button" data-bs-dismiss="alert" aria-label="Close").btn-close
if (error && error.length)
    div(role="alert").alert.alert-success.alert-dismissible.fade.show.my-4
        h5 Error!
        p #{error}
        button(type="button" data-bs-dismiss="alert" aria-label="Close").btn-close    