.container.mx-auto.col-md-6
    if (success && success.length)
        div(role="alert").alert.alert-success.alert-dismissible.fade.show.my-4
            p.fw-bold.text-center Nice! #[span.fw-normal #{success}]
            button(type="button" data-bs-dismiss="alert" aria-label="Close").btn-close
    if (error && error.length)
        div(role="alert").alert.alert-danger.alert-dismissible.fade.show.my-4
            p.fw-bold.text-center Error: #[span.fw-normal #{error}]
            button(type="button" data-bs-dismiss="alert" aria-label="Close").btn-close
