nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.sticky-top
  .container-fluid
    a.navbar-brand(href='#') Yelp Camp™️
    button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarNavAltMarkup', aria-controls='navbarNavAltMarkup', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNavAltMarkup.collapse.navbar-collapse
      .navbar-nav
        a.nav-link.active(aria-current='page', href='/') Home
        a.nav-link(href='/campgrounds') Campgrounds
        a.nav-link(href='/campgrounds/new') Add New Site
