doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="")
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous")
    script(defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous")
    title Yelp-Camp™
  body
    include partials/nav
    main.container.min-vh-100.mx-auto
      block content
        h1.m-3 Welcome to Yelp-Camp!
        p Find your new favorite campground, anywhere. 🔎
    block footer
      footer.container-fluid.text-center.bg-dark.py-3.d-flex.flex-column.align-items-center
        p.text-light.m-0 © YelpCamp™️ 2021
