extends ../layout
block content
  div.col-md-6.mx-auto
    h1.my-4 Add a new campsite
    form(action="/campgrounds" method="POST" class="needs-validation" novalidate)
      div.mb-3
        label(for="title").form-label Title:
        input(type="text" id="title" name="campground[title]" required).form-control
        .valid-feedback Looks good!
        .invalid-feedback Please provide a title
      div.mb-3
        label(for="description").form-label Description:
        textarea(id="description" name="campground[description]" required).form-control
        .valid-feedback Looks good!
        .invalid-feedback Please provide a description
      .mb-3
        label(for="price").form-label Price (per night):
        div.input-group
          span(class="input-group-text") $
          input(type="number" id="price" name="campground[price]" required).form-control
      div.mb-3
        label(for="address").form-label Street Address:
        input(type="text" id="address" name="campground[location][address]" required).form-control
      div.mb-3
        label(for="city").form-label City:
        input(type="text" id="city" name="campground[location][city]" required).form-control
      div.mb-3.row
        div.col
          label(for="state").form-label State:
          select.form-select(id="state" name="campground[location][state]" required)
            for state in states
              option(value=`${state}`) #{state}
        div.col
          label(for="zipcode").form-label Zip Code:
          input(type="text" id="zipcode" name="campground[location][zipcode]" required).form-control
      .mb-3
        label.form-label(for='formFileMultiple') Images:
        input.form-control#formFileMultiple(type='file' multiple)
      div
        button(type="submit").btn.btn-success.my-3 Add Campground
block scripts
  script
    include ../../utils/formValidation.js

