include ../partials/head
body
  include ../partials/nav
  main.container
    h1.mt-5= campground.title 
    h2= campground.location
    form(action=`/campgrounds/${campground._id}?_method=DELETE`, method="POST")
      button(type="submit") Delete
    button 
      a(href=`/campgrounds/${campground._id}/edit`)  Edit
    
  include ../partials/footer